[submodule "libs/boost_serialization"]
	path = libs/boost_serialization
	url = https://github.com/boostorg/serialization
	branch = master
[submodule "libs/cereal"]
	path = libs/cereal
	url = https://github.com/USCiLab/cereal
	branch = master
[submodule "libs/yas"]
	path = libs/yas
	url = https://github.com/niXman/yas
	branch = master
[submodule "libs/msgpack"]
	path = libs/msgpack
	url = https://github.com/msgpack/msgpack-c
	branch = cpp_master
